//-
    Para tener activo el primer item del acordion, considerar el siguiente ejemplo
    +accordion_item(accordion)(
        class={'js--active': (index === 0)}
        style=(index === 0 ? 'display:block' : '')
        )


mixin accordion(id)
    div(
        id=id 
        class="m-accordion"
        class!=attributes.class
        )
        if block
            block

mixin accordion_item(title, subtitle, editor_secondary)
    div(
        class="m-accordion__box entel-data-layer-toggle"
        class!=attributes.class
        data-gtm-category!=attributes.gtmCategory
        data-gtm-action!=attributes.gtmAction
        data-gtm-label!=attributes.gtmLabel
        data-gtm-type!=attributes.gtmType
        )
        div(
            class="m-accordion__toggle"
            )                
            +title("h3",title)(
                class="m-accordion__toggle__title"
                
                )
            if subtitle
                p !{subtitle}
        div(
            class="m-accordion__content e-content-editor"
            class={'m-content-editor--secondary': (editor_secondary)}
            style!=attributes.style
            )
            if block
                block   

mixin entel_accordion(accordion_title, gtm_name, gtm_category)
    .entel-accordion__item
        .entel-accordion__title(class= gaClass, title= accordion_title, data-gtm-name=gtm_name, data-gtm-category=gtm_category, data-gtm-action='click accordion '+ accordion_title, data-gtm-label=accordion_title)
            = accordion_title
            .entel-accordion__arrow
        .entel-accordion__content
            .entel-accordion__content__inner
                block