<div 
class="e-empresas__operation__item e-empresas__operation__item--desktop e-empresas__operation__item--hide slick-slide slick-active"
style="width: 112px;" 
data-slick-index="7" 
aria-hidden="false">
    <a 
    class="descarga-consumos e-empresas__operation__item__new descarga-consumos e-empresas__operation__item__new" 
    href="https://empresas.entel.pe/login/?_ga=2.169846369.1500189733.1630417523-1042087473.1629122413"
    title="" data-gtm-category="Home - Empresas"
    data-gtm-action="clic Descarga tus consumos" 
    data-gtm-label="Descarga tus consumos" 
    data-gtm-type="click" 
    target="__blank" 
    rel="noopener noreferrer" 
    tabindex="0">
   
<div 
lass="e-empresas__operation__item e-empresas__operation__item--desktop e-empresas__operation__item--hide slick-slide slick-active" 
style="width: 112px;"
 data-slick-index="8" 
 aria-hidden="false">
 
 <a class="e-empresas__operation__link-app--js e-empresas__operation__link-app--js" 
 href="https://api.whatsapp.com/send?phone=51981002000&amp;text=%C2%A1Hola!%20Deseo%20renovar%20mi%20equipo%20empresa%20con%20precio%20web%20" title="" data-gtm-category="Home - Empresas"
  data-gtm-action="clic Quiero renovar"
   data-gtm-label="Quiero renovar" 
   data-gtm-type="click"
   target="_self" 
   rel="noopener noreferrer"
   tabindex="0">
   
   <div class="e-empresas__operation__item__icon">
span class="empresas_home_operation_quiero_renovar"
    data-gtm-category="Home - Empresas" 
    data-gtm-action="clic Quiero renovar" 
    data-gtm-label="Quiero renovar" 
    </span></div>

    <strong data-gtm-category="Home - Empresas" 
    data-gtm-action="clic Quiero renovar" 
    data-gtm-label="Quiero renovar" 
    Quiero<br>renovar</strong><p 
    data-gtm-category="Home - Empresas" data-gtm-action="clic Quiero renovar" data-gtm-label="Quiero renovar" data-gtm-type="click">Cambia tu equipo y mantén tu número</p></a></div>