mixin tag_a (link, text, title)
    if !title
        - title = text
    if !text && !title
        - title = ""
    a(
        href=link
        title=title
        class!=attributes.class
        )&attributes(attributes) !{text}
        if block
            block

mixin tag_a_icon (link, text, title,img)
    if !title
        - title = text
    if !text && !title
        - title = ""
    a(
        href=link
        title=title
        class='e-button--icon e-button e-button--orange'
        )&attributes(attributes) 
        if block
            block

mixin button_back_to_top
    button.e-button__back-to-top.e-button__back-to-top--js