mixin modal(id)
    div(
        class="m-modal"
        class!=attributes.class
        )
        div(
            id=id 
            class="m-modal__content m-modal__animation"            
            )
            div
                if block
                    block

mixin modal_message(id,title,text,button,image,text_extra)
    div(
        class="m-modal theme--message"
        class!=attributes.class
        )
        div(
            id=id 
            class="m-modal__content m-modal__animation"            
            )
            div
                .m-modal__container
                    .m-modal__head
                        if image === 'success'
                            +lazy_image_webp_retina('2021/03/modal-message-star', 'png', 'Icono', 'personas')
                        else if image
                            +lazy_image_webp_retina(image, 'png', 'Icono', 'personas')
                        p !{title}
                    .m-modal__body
                        p !{text}
                        if button !== ''
                            a(class="e-button e-button--orange m-modal__close--js" href='javascript:void(0)') !{button}
                            if text_extra !== ''
                                div(style="margin-top:35px;") !{text_extra} 
                    .m-modal__close.m-modal__close--js
                if block
                    block