mixin tab_container(tab_list, type)
  each tab, index in tab_list                    
    div(
      id="tab-" + index
      class="m-tab__content"
      class={'js--open': index === 0}
      data-contenedor="m-tab__container"
      )
      if type
        div(
          class="m-tab__toggle m-tab__mobile m-tab__mobile--inactive"
          class=(index == 0 ? "m-tab__mobile--active" : "")
          data-contenedor="m-tab__container"
          ) 
          if block
            block
      else
        if block
          block
mixin tab_nav(tab_list)
  .e-tab__texto--personas__nav.animation-l.e-flex
    each tab, index in tab_list
      a(
        class="e-tab__button e-tab__texto--personas__button-css e-box-inline-block entel-data-layer-toggle"
        class={'js--active': index === 0}
        href="#tab-texto-" + index
        data-contenedor="e-tab__texto--personas"
        data-gtm-category=tab.category
        data-gtm-action="Visualizar contenido – Tabs informativos"
        data-gtm-label=tab.nameData
        title="Ir a "+ tab.name
        id=tab.id
        ) 
        span !{tab.name}
mixin tab_nav_all(tab_list)
  .e-tab__texto--personas__nav.animation-l.e-flex
    each tab, index in tab_list
      a(
        class="e-tab__button e-tab__texto--personas__button-css e-box-inline-block entel-data-layer-toggle"
        class={'js--active': index === 0}
        href="#tab-texto-" + index
        data-contenedor="e-tab__texto--personas"
        data-gtm-category=tab.category
        data-gtm-action=tab.action
        data-gtm-label=tab.nameData
        title=tab.title
        id=tab.id
        ) 
        span !{tab.name}
mixin tab_navi(tab_list)
  .e-tab__texto--personas__nav.animation-l.e-flex
    each tab, index in tab_list
      a(
        class="e-tab__button e-tab__new-head e-tab__texto--personas__button-css2 e-box-inline-block entel-data-layer-toggle"
        class={'js--active': index === 0}
        href="#tab-texto-" + index
        data-contenedor="e-tab__texto--personas"
        data-gtm-category=tab.category
        data-gtm-action="Visualizar contenido – Tabs informativos"
        data-gtm-label=tab.nameData
        title="Ir a "+ tab.name
        id=tab.id
        ) 
        span !{tab.name}

mixin tab_nav_sub(tab_list, prefijo)
  .e-tab__texto--personas__nav.animation-l.e-flex
    each tab, index in tab_list
      a(
        class="e-tab__button e-tab__texto--personas__button-css e-box-inline-block entel-data-layer-toggle"
        class={'js--active': index === 0}
        href="#"+prefijo+"-" + index
        data-contenedor="e-tab__texto--marca"
        data-gtm-category=tab.category
        data-gtm-action="Visualizar contenido – Tabs informativos"
        data-gtm-label=tab.nameData
        title="Ir a "+ tab.name
        id=tab.id
        ) 
        span !{tab.name}


mixin tab_navegator_out_text(tab_list,prefijo,clase_contendor,clase_extra)
  div(class="e-tab__navegator e-tab__"+prefijo+"nav animation-l e-flex "+clase_extra)
    each tab, index in tab_list
      .e-tab__button-group
        a(
          class="e-datalayer__botton e-tab__button e-tab__texto--personas__button-css e-box-inline-block"
          class={'js--active': index === 0}
          href="#"+prefijo + index
          data-contenedor=clase_contendor
          data-gtm-category=tab.category
          data-gtm-action="Visualizar contenido – Tabs informativos"
          data-gtm-label=tab.nameData
          title="Ir a "+ tab.name
          data-lugar = tab.data_lugar
          data-action = `Selección tab - ${tab.name}`
          data-tipoproducto =tab.tipoproducto
          id=tab.id
          ) 
          if tab.icon
            -
              lstdata = [
                {
                'image' : tab.icon,
                'media' : '1280',
                },
                {
                'image' : tab.icon+"-mob",
                'media' : '0',
                },
              ]
            +image_retina_media(lstdata,'png', tab.name).js--block__normal
          if tab.icon_active
            -
              lstdata = [
                {
                'image' : tab.icon_active,
                'media' : '1280',
                },
                {
                'image' : tab.icon_active+"-mob",
                'media' : '0',
                },
              ]
            +image_retina_media(lstdata,'png', tab.name).js--block__active
        div.e-tab__button-text !{tab.name}

mixin tab_navegator(tab_list,prefijo,clase_contendor,clase_extra)
  div(class="e-tab__navegator e-tab__"+prefijo+"nav animation-l e-flex "+clase_extra)
    each tab, index in tab_list
      a(
        class="e-tab__button e-tab__texto--personas__button-css e-box-inline-block"
        class={'js--active': index === 0}
        href="#"+prefijo + index
        data-contenedor=clase_contendor
        data-gtm-category=tab.category
        data-gtm-action="Visualizar contenido – Tabs informativos"
        data-gtm-label=tab.nameData
        title="Ir a "+ tab.name
        id=tab.id
        ) 
        if tab.icon
          -
            lstdata = [
              {
              'image' : tab.icon,
              'media' : '1280',
              },
              {
              'image' : tab.icon+"-mob",
              'media' : '0',
              },
            ]
          +image_retina_media(lstdata,'png', tab.name).js--block__normal
        if tab.icon_active
          -
            lstdata = [
              {
              'image' : tab.icon_active,
              'media' : '1280',
              },
              {
              'image' : tab.icon_active+"-mob",
              'media' : '0',
              },
            ]
          +image_retina_media(lstdata,'png', tab.name).js--block__active
        span !{tab.name}
mixin tab_navegator_text(tab_list,prefijo,clase_contendor,clase_extra)
  div(class="e-tab__navegator e-tab__"+prefijo+"nav animation-l e-flex "+clase_extra).e-empresas__operation__slider--js
    each tab, index in tab_list
      a(
        class="e-tab__button e-tab__texto--personas__button-css e-box-inline-block"
        class={'js--active': index === 0}
        href="#"+prefijo + index
        data-contenedor=clase_contendor
        data-gtm-category=tab.category
        data-gtm-action="Visualizar contenido – Tabs informativos"
        data-gtm-label=tab.nameData
        title="Ir a "+ tab.name
        id=tab.id
        ) 
        if tab.icon
          -
            lstdata = [
              {
              'image' : tab.icon,
              'media' : '1280',
              },
              {
              'image' : tab.icon+"-mob",
              'media' : '0',
              },
            ]
          +image_retina_media(lstdata,'png', tab.name).js--block__normal
          span !{tab.name}


mixin tab_navegator_index(tab_list,prefijo,clase_contendor,clase_extra,iactive)
  div(class="e-tab__navegator e-tab__"+prefijo+"nav animation-l e-flex "+clase_extra)
    each tab, index in tab_list
      a(
        class="e-tab__button e-tab__texto--personas__button-css e-box-inline-block"
        class={'js--active': index === iactive}
        href="#"+prefijo + index
        data-contenedor=clase_contendor
        data-gtm-category=tab.category
        data-gtm-action="Visualizar contenido – Tabs informativos"
        data-gtm-label=tab.nameData
        title="Ir a "+ tab.name
        id=tab.id
        ) 
        if tab.icon
          -
            lstdata = [
              {
              'image' : tab.icon,
              'media' : '1280',
              },
              {
              'image' : tab.icon+"-mob",
              'media' : '0',
              },
            ]
          +image_retina_media(lstdata,'png', tab.name).js--block__normal
        if tab.icon_active
          -
            lstdata = [
              {
              'image' : tab.icon_active,
              'media' : '1280',
              },
              {
              'image' : tab.icon_active+"-mob",
              'media' : '0',
              },
            ]
          +image_retina_media(lstdata,'png', tab.name).js--block__active
        span !{tab.name}

mixin tab_nav_adapted(tab_list)
  .e-tab__texto--personas__nav.animation-l.e-flex
    each tab, index in tab_list
      a(
        class="e-tab__button e-tab__texto--personas__button-css e-box-inline-block entel-data-layer-toggle"
        class={'js--active': index === 0}
        href="#" + tab.hrefid + index
        data-contenedor=tab.datacontenedor
        data-gtm-category=tab.category
        data-gtm-action="Visualizar contenido – Tabs informativos"
        data-gtm-label=tab.label
        title="Ir a "+ tab.name
        id=tab.id
        ) 
        span !{tab.name}