p.m-modal--empresas__thanks__title.novalid #[b.text-green ¡No pudimos registrar] tus datos!
+lazy_image_webp_retina("2021/04/e_icon_mensaje_novalidado","png",null,'empresas').img-icon_invalid
p.m-modal--empresas__thanks__content.novalid Pero tenemos buenas noticias para ti. #[b ¡Llámanos y te contaremos los beneficios exclusivos que puedes disfrutar con Entel!]
//- +tag_a('tel:080009020', 'Llámanos')(
    onclick="window.open('tel:080009020','_self');"
+tag_a('javascript:void(0)', 'Llámanos')(
        class='e-button e-button--small e-button--secondary novalid'
        data-gtm-type='click'
        data-gtm-category=''
        data-gtm-action='clic LLÁMANOS - formulario'
        data-gtm-label='LLÁMANOS'
        onclick="window.open('tel:080009001','_self');"
    )
.m-modal__scene--js.m-modal__close.m-modal__close--js(data-scene-in="e-modal__scene__form" data-scene-out="e-modal__scene__error")