+lazy_image_webp_retina("2021/09/e_modal_no_contesta_mister","png",null,'empresas')
p Hemos intentado llamarte, pero #[b no hemos logrado comunicarnos contigo].#[br]Por favor, #[b llámanos al 0800 09020] para poder concretar tu compra.            
.e-buttom-group
    +tag_a_icon('tel:080009020', '0800 09020','',"2021/09/e_boton_icon_call.png")(
        class='e-button--orange--telf'
        data-gtm-type='click'
        data-gtm-category=''
        target="_blank"
        data-gtm-action='clic LLÁMANOS - formulario'
        data-gtm-label='LLÁMANOS'                    
    )
        +lazy_image_webp_retina("2021/09/e_boton_icon_call","png",null,'empresas')
        span 0800 09020